@charset "utf-8";
/* CSS Document */
body{ 
	background-image:url("backgrounds6.jpg");
   	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position: center center;
	background-color:black;
	height:auto;
    max-width: 100%;
}

* {
text-align: center ;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo{  
	padding-right: 10px;
	padding-left:10px;
	padding-bottom: 14px;
	padding-top: 10px; 
}

h1{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

.main-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width:1400px;
}

nav {
            padding: 10px;
            text-align: center;
	        background: #000425
        }
a{
	color: antiquewhite; 
	font-size:25px; 
	padding-left: 20px;
	text-decoration:none;
}

#about-info{
	background-color:#03002D; 
	opacity: 80%; 
	color:aliceblue; 
	padding-top: 1%; 
	padding-bottom:1%; 
	padding-right:1%; 
	padding-left:1%; 
	font-size: 130%
}

#about-header{
	color:aliceblue; 
}

.character-img{
	width:10%; 
}

.character-img:hover {
}

button{
	width:11%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

.hiddenSection {
	display:none
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding:0.2%;
}

.title {
  color: grey;
  font-size: 18px;
}

.wikibutton{
	text-decoration:underline;
	color:red;
	text-align: center;
}

.character-full{
	max-width: 100%; 
}
