.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }display: inline-block;.character-img{
	width:10%; 
button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}.character-img{
	width:10%; 
}

.character-img:hover {
}

.character-full{
	width:20%; 
	display: inline; 
	float:right; 
	margin-right: 20%; 
}

button{
	width:10%;
	height:auto;
	background: none; 
	overflow:hidden;
	border:none;
	cursor:pointer;
}

.buttonimage{
        display: inline-block;
}
.buttonimage .front_button{
	    display: none;
        position: absolute;
}
 .buttonimage:hover .front_button {
        display: inline;
    }

#hiddenSection_chihiro {
  display: none;
}

#hiddenSection_haku {
  display: none;
}@charset "utf-8";
/* CSS Document */
.hiddenSection {
  display: none;
}
